﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Estimado(a) {{ContactName}}</h1>
    <p>Está es una notificación automática para informale que el usuario {{Name}} solicito una respuesta que no le fue respondida.</p>
    <p></p>
    <p><strong>Pregunta</strong>:</p>
    <p>{{Message}}</p>
    <br />
    <p>Por favor haga clic en la siguente enlace para agregar la respuesta</p>
    <p><a href="{{ConfirmationHref}}">Agregar respuesta</a></p>
    <br />
    <br />
    <p>Para cualquier duda o aclaración, por favor póngase en contacto con nosotros</p>
    <p><a href="http://www.arcacontal.com/">http://www.arcacontal.com/</a></p>
</body>
</html>