﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Estimado(a) {{ContactName}}</h1>
    <p>Está es una notificación automática para informale que la pregunta que solicito ya fue atendida <br /></p>
    <p><strong>Pregunta</strong>: {{Question}}</p>
    <p><strong>Respuesta</strong>: {{Answer}}</p>
    <p>Saludos!!</p>
    <br />
    <br />
    <p>Para cualquier duda o aclaración, por favor póngase en contacto con nosotros</p>
    <p><a href="http://www.arcacontal.com/">http://www.arcacontal.com/</a></p>
</body>
</html>