﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Chattigo.aspx.cs" Inherits="KnowledgeBase_Chattigo" %>

<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <script type="text/javascript" src="http://driverwebchat1600.cloudapp.net/chattigo-webchat.js"></script>
 </head>
<body>
  <div id="app">
      <h1>Your web site.</h1>
      <div><p> whatever...</p></div> 
  </div>
  <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
          var chattigo = new Chattigo("1359a42dc6370c4602c8e24c6b856603cfe9");
          chattigo.init();
      });
  </script>
</body>
</html>